/* EXERCISE 1
            For all Albums we'd like to have a consistent style.
            Create a class for:
            - The album container
            - The album cover
            - The album title
            - The album group / singer / dj
            - The album genre
            - The album duration
            - etc
*/
h1 {
    text-align: center;
    margin-top: 5%;
}

.cover-img {
    width: 100%;
}

.card-title {
    font-size: 1em;
}

#review {
    font-size: 1vw;
}

.tracklist {
    font-size: 70%;
    padding: 0.7em;
    border-color: aliceblue;
}

.carousel-inner img {
    height: 50%;
}